<app-navigation-bar></app-navigation-bar>
<div class="home-page">
    <div class="hero-image">
      <img src="../../../assets/images/park-guell.jpg" alt="Park Guell" />
    </div>
  
    <div class="hero-text">
        <h1 class="headline">Lorem Ipsum</h1>
        <h2 class="subheading">"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Donec a maximus nibh. Ut vehicula ante quis enim pretium auctor. 
            Pellentesque accumsan turpis sed neque pharetra, a suscipit metus hendrerit. 
            Morbi vel tempus turpis. Pellentesque eu dignissim leo. 
            Nullam sed condimentum ligula. 
            Curabitur augue enim, pellentesque in nibh eget, bibendum consectetur nibh. 
            Sed porttitor quis arcu vel ultricies. 
            Fusce sed nulla vel sem ornare ultrices ac non velit. Praesent at dui odio.
        </p>
    </div>
</div>
<app-footer></app-footer>